:root {
  --background: black;
  --foreground: white;
}

@font-face {
  font-family: 'FiraCode-Light';
  src: url('src/Fira_Code_v6.2/ttf/FiraCode-Light.ttf');
}

.icon-size {
font-size: 2em;
}

.link-bar {
text-align: center;
justify-content: center;
grid-template-columns: 5.5rem 5.5rem 5.5rem 5.5rem 5.5rem;
}

.album-grid {
display: grid;
grid-template-columns: auto auto auto auto auto;
grid-gap: 1vw;
margin: 0.5vw;
}

a {
color: white;
}

.icon-btn {
padding-top: 1em;
padding-bottom: 1em;
}

a:hover {
color: black;
background-color: white;
}

.album-art {
    display: block;
    width: 18vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5vw;
}

body {
  background-color: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: FiraCode-Light;
  margin: 0;
  color: var(--foreground);
}

h2 {
font-size: 60px;
text-align: center;
margin: 0;
}

h3 {
font-size: 40px;
text-align: center;
margin: 0;
}

img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

@media only screen and (max-width: 500px) {
a {
font-size: 12px;
}
h2 {
font-size: 50px;
}
.link-bar {
grid-template-columns: 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem;
}
.album-grid {
display: grid;
grid-template-columns: auto auto auto;
}
}

.grid {
display: grid;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: left;
padding: 2rem;
}

.center-box {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--foreground-opaque);
}

.pfp {
  border-radius: 50%;
  border-color: var(--foreground);
  border-width: 5px;
  border-style: solid;
  max-width: 40rem;
  margin-top: 2.5rem;
}

.link-cluster {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 40px;
  gap: 10% 0;
}

