:root {
  --background: black;
  --foreground: white;
}

@font-face {
  font-family: 'FiraCode-Light';
  src: url('src/Fira_Code_v6.2/ttf/FiraCode-Light.ttf');
}

.icon-size {
font-size: 2em;
}

.link-bar {
display: grid;
text-align: center;
justify-content: center;
grid-template-columns: 5.5rem 5.5rem 5.5rem 5.5rem 5.5rem;
}

.album-grid {
display: grid;
grid-template-columns: auto auto auto auto auto;
grid-gap: 1vw;
margin: 0.5vw;
text-align: center;
}

a {
color: white;
}

.icon-btn {
padding-top: 1em;
padding-bottom: 1em;
}

a:hover {
color: black;
background-color: white;
}

.album-art {
    display: block;
    width: 18vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5vw;
}

body {
  background-color: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: FiraCode-Light;
  margin: 0;
  color: var(--foreground);
}

h2 {
text-align: center;
font-size: 5vh;
}

img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

@media only screen and (max-width: 500px) {
a {
font-size: 12px;
}
h2 {
font-size: 50px;
}
.link-bar {
grid-template-columns: 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem;
}
.album-grid {
display: grid;
grid-template-columns: auto auto auto;
}
}

.grid {
display: grid;
}

.blog-grid {
display: grid;
grid-template-columns: 30% 30% 30%;
margin-left: 2.5%;
margin-right: 2.5%;
justify-content: center;
grid-column-gap: 2.5%;
}

.article {
padding: 5%;
display: grid;
grid-template-areas:   "title date"
                       "image image";
justify content: center;
}

.article-title {grid-column-start: title-start; grid-column-end: title-end; padding: 0% 5% 0% 5%}
.article-date {grid-column-start: date-start; grid-column-end: date-end; padding: 0% 5% 0% 5%; text-align: right;}
.article-thumb {grid-column-start: image-start; grid-column-end: image-end;} 

.navbar {
display: flex;
justify-content: space-between;
align-items: left;
}

.center-box {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--foreground-opaque);
}

.pfp {
  border-radius: 50%;
  border-color: var(--foreground);
  border-width: 5px;
  border-style: solid;
  height: 60vh;
  width: 60vh;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 2.5rem;
  aspect-ratio: 1 / 1;
}

.link-cluster {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 40px;
  gap: 10% 0;
}
